<div class="about-me">
    <h1>Redes Sociais</h1>
    <div class="social-links">
        <a targ="_blank" href="https://www.linkedin.com/in/thallyscezar"><mat-icon>work</mat-icon></a><span>linkedin</span>
        <a targ="_blank" href="https://github.com/thallyscezar"><mat-icon>alternate_email</mat-icon></a><span>github</span>
        <a targ="_blank" href="https://github.com/ThallysCezar/crud-project-client"><mat-icon>chat_bubble</mat-icon></a><span>condigo fonte do projeto</span>
    </div>
    <h2>Portfólio</h2>
    <a href="https://thallyscezar.github.io/"><mat-icon>public</mat-icon></a>
</div>